@import "~leaflet/dist/leaflet.css";
body{
    font-size: 12px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    .ui-sidebar{
        margin: 0 !important;
        padding: 0 !important;
    }
    .ui-table{
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 10px !important;
    }
    .ui-table-head{
        font-size: 11px;
    }
    input, textarea{
        font-size: 11px !important;
    }
    label{
        font-size: 11px !important;
    }
    .ui-paginator{
        height: 60px;
    }
    .ui-panel-titlebar{
        height: 40px;
        padding: 0;
        margin: 0;
    }
    .ui-paginator{
        height: 40px;
    }
    .ui-card{
        position: relative;
        height: auto;
        margin-bottom: 50px;

    }
}
